.web-standards li {
  float: left;
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  background: #0099ff;
  color: #ddd; }
.web-standards li:hover {
  background: #f0b310;
  color: #333; }
.web-standards li:nth-child(4) {
  clear: both; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.blue {
  color: #0099ff; }

.green {
  color: #92BB44; }

.yellow {
  color: #f0b310; }

.pink {
  color: #F05B62; }

.red {
  color: #8B0036; }
